@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
  margin-bottom: 5rem;
}

/* 
*::-webkit-scrollbar-track-piece {
  background: transparent;
  padding: 2px;
  margin-bottom: 5rem;
} */

*::-webkit-scrollbar-thumb {
  background-color: #000;
}

li + li {
  border-top: 1.5px solid rgb(87 83 78);
}
